<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your application to Postboy Driving School, <%= @student.name %></h1>
    <p>
      Someone from our staff should contact you within the next 72 hours.<br>
    </p>
    <p>
      Please let us know in the meantime if you have any questions.
    </p>
    <p>Thanks for your application and have a great day!</p>
  </body>
</html>
