<% if current_user == nil %>
<h1><%= render 'layouts/oops' %></h1>
<% else %>
<section class="all">
<h1>All Postboy Applicants</h1>
<% @student.each do |student| %>
<p><%= link_to "#{student.name}", course_student_path(student.course_id, student.id) %></p>
<% end %>
<% end %>
</section>
