<div class="about">
  <div><h1>Postboy Driving School</h1></div>
  <div><h2>The Best Driving School</h2><p>Man just shut up because seriously you have no idea. Postboy Driving School is the best Driving School since driving school's been driving.</p> <p>I really don't care if you don't think it is. Go try some other school and see what happens. You'll screw up driving one day and hit like 10 kids with you car and that'll be a wrap.</p><p> And I'll still be here, teaching people to drive right. Think about it.</p></div>
</div>
