<section class='courses'>
<h1>Check out Postboy's Courses</h1>
<div class='course-cont'>
<% @courses.each do |c| %>
<div class='cont-inner'>
<h2><label><%= link_to "#{c.name}", c%></label></h2>
  <p><label>Description: <%= c.description %></label</p>
    <p><label>Number of Hours: <%= c.hours %></label</p>
      <p><label>Proficiency Awarded: <%= c.reward %></label</p>
</div>
<% end %>
</div>
</section>
