/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --ainge: rgb(255, 153, 0);
  --namek: rgb(3, 205, 69);
  --purps: rgb(111, 20, 204);
  --sg: rgb(120, 115, 115);
  --mg: rgb(96, 92, 92);
  --lg: rgb(59, 55, 53);
  --bg: rgb(35, 33, 32);
  --r: rgb(221, 39, 45);
  --y: rgb(247, 191, 61);
  --g: rgb(0, 145, 72);
}

font-family: 'Contrail One', cursive;
font-family: 'Roboto', sans-serif;

html {
  margin: 0 0 0 0;
}

body {
  margin: 0 0 0 0;
  font-family: 'Roboto', sans-serif;
    background-color: var(--mg);
}

h1 {
  font-size: 8vh;
    color: var(--r);
    margin: 7vh 0;
}

ul {
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
}

.admin {
  max-width: 80%;
  display: grid;
  grid-template: 50% 50% / 47.5% 47.5%;
  margin: 0 10%;
  text-align: center;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  background-color: var(--sg);
  background-image: url("/p-head.png");
   background-size: auto;
   background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.admin h2 {
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
}

.admin p a{
  font-size: 3vh;
  color: var(--purps);
}

.login {
  text-align: center;
  height: 40vh;
}

.login h1 {
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
  margin-bottom: 0;
}

.login-btn {
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
}

.home {
  background-color: var(--mg);
}

.about {
  background-color: var(--mg);
}

.panel {
  height: 25vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: var(--bg);
  color: var(--y);
  font-family: 'Contrail One', cursive;
}
#admin-panel {
  display:grid;
  grid-template: 25vh / 1fr;
}

#pub-panel {
  display: grid;
  grid-template: 25vh / 37% 18% 15% 20% 10%
}

#pub-panel div h1 {
  text-align: left;
  padding-left: 2vw;
}

#pub-panel div:nth-child(2) {
  font-size: 4vh;
  padding-top: 8vh;
}
#pub-panel div:nth-child(3) {
  font-size: 4vh;
  padding-top: 8vh;
}
#pub-panel div:nth-child(4) {
  font-size: 4vh;
  padding-top: 8vh;
}

#pub-panel div:nth-child(5) {
  padding-top: 3vh;
}

.foot {
  height: 15vh;
  text-align: center;
  background-color: var(--bg);
  color: var(--y);
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr;
  padding-top: 7vh;
  font-family: 'Contrail One', cursive;
  font-size: 4vh;
}

.foot a {
  color: var(--y);
}

.panel a {
  color: var(--y);
}

.green a{
  color: var(--g);
}

.red a{
  color: var(--r);
}

.headpic {
  max-height: 95%;
}
