/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --ainge: rgb(255, 153, 0);
  --namek: rgb(3, 205, 69);
  --purps: rgb(111, 20, 204);
  --sg: rgb(120, 115, 115);
  --mg: rgb(96, 92, 92);
  --lg: rgb(59, 55, 53);
  --bg: rgb(35, 33, 32);
  --r: rgb(221, 39, 45);
  --y: rgb(247, 191, 61);
  --g: rgb(0, 145, 72);
  --b: rgb(24, 24, 232);
  --aw: rgb(237, 237, 237);
}

font-family: 'Contrail One', cursive;
font-family: 'Roboto', sans-serif;

html {
  margin: 0 0 0 0;
}

body {
  margin: 0 0 0 0;
  font-family: 'Roboto', sans-serif;
    background-color: var(--mg);
}

h1 {
  font-size: 8vh;
    color: var(--r);
    margin: 7vh 0;
}

h4 {
  text-align: center;
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
  color: white;
}

ul {
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: var(--b);

}

.admin {
  max-width: 80%;
  display: grid;
  grid-template: 50% 50% / 47.5% 47.5%;
  margin: 0 10%;
  text-align: center;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  background-color: var(--sg);
  background-image: url("/p-head.png");
   background-size: auto;
   background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    padding-bottom: 5vh;
}

.admin h2 {
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
}

.admin p a{
  font-size: 3vh;
  color: var(--b);
}

.login {
  text-align: center;
  min-height: 40vh;
}

.login h1 {
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
}

.login-btn {
  font-family: 'Roboto', sans-serif;
  margin-top: .5%;
  background-color: var(--bg);
  font-size: 2.3vh;
  color: var(--y);
  border-radius: 12px;
  border: 3px solid var(--g);
  padding: 5px;
}

.login p{
  font-size: 3vh;
}

.profile {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--sg);
  border-radius: 20px;
  max-width: 80%;
  margin-left: 10%;
  padding: 2.5%;
        border: 5px solid var(--aw);
        margin-top: 2vh;
        margin-bottom: 2vh;
}

.course {
  padding-top: 3.5vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* background-color: var(--sg); */
  border-radius: 20px;
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding-bottom: 10px;
  border: 5px solid var(--aw);
}

.course h1 {
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
}

.ez-grid {
  display: grid;
  grid-template: 100% / 47.5% 47.5%;
}


.course p {
  margin-bottom: 20px;
  color: var(--y);
  font-size: 2.7vh;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  padding: 15px;
  }

.course h3{
  color: var(--g);
  font-size: 3vh;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  }


.all {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--sg);
  border-radius: 20px;
  max-width: 80%;
  margin-left: 10%;
    min-height: 45vh;
}

.all p {
  font-size: 3vh;
}

.all h1 {
  font-family: 'Contrail One', cursive;
  margin: 2vh 0;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  padding-top: 2vh;
    color: var(--y);
}

.reg {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--sg);
    border-radius: 20px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
            border: 5px solid var(--aw);
}

.reg h1 {
  font-family: 'Contrail One', cursive;
  margin: 2vh 0;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  padding-top: 2vh;
      color: var(--g);
}

.reg p {
  margin: 0;
  margin-bottom: 2vh;
      color: var(--y);

}

.profile h1 {
  font-family: 'Contrail One', cursive;
  margin: 2vh 0;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  padding-top: 2vh;
}

.profile h3{
    color: var(--g);
    font-size: 3vh;
      text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
}

.profile p {
  color: var(--y);
  font-size: 2.7vh;
  padding-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
}

form input[type= "Submit"] {
  font-family: 'Roboto', sans-serif;
  margin-top: .5%;
  background-color: var(--bg);
  font-size: 2.3vh;
  color: var(--y);
  border-radius: 12px;
  border: 3px solid var(--g);
  padding: 5px;
}

.cohort {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--sg);
  border-radius: 20px;
  max-width: 80%;
  margin-right: 10%;
  margin-top: 2vh;
  margin-left: 10%;
  padding: 2%;
  padding-bottom: 7vh;
  min-height: 35vh;
  margin-bottom: 40px;
              border: 5px solid var(--aw);
}

.cohort h2 {
  font-size: 5vh;
  font-family: 'Contrail One', cursive;
  color: var(--y);
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);

}

.cohort h1 {
  font-family: 'Contrail One', cursive;
  margin: 2vh 0;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  padding-top: 2vh;
}

.cohort p {
  font-size: 3.3vh;
    color: var(--y);
}

.edit {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--sg);
  border-radius: 20px;
  max-width: 80%;
  margin-left: 10%;
  padding-bottom: 7vh;
}

.edit h1 {
  font-size: 3.5vh;
  color: var(--y);
  margin-top: 0;
  margin-bottom: 4.5vh;
}

.edit p {
  margin-bottom: 0
}


.home {
  background-image: url("/sst.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 50vh;
  margin-left: 10%;
  margin-right: 10%;
    text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
}

.home div {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  font-size: 10vh;
  color: white;
    font-family: 'Contrail One', cursive;
}

.about {
  display: grid;
  grid-template: 60vh / 45% 45%;
  grid-column-gap: 10%;
  background-color: var(--mg);
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("/hwy.png");
   background-size: auto;
   background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 3.5%;
    margin-top:3%;
    margin-bottom:3%;
}

.about h1 {
  margin: 0 0 0 0;
  color: white;
  font-size: 10vh;
    text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
        font-family: 'Contrail One', cursive;
}

.about h2 {
  text-align: center;
  color: var(--g);
  font-size: 5vh;
      font-family: 'Contrail One', cursive;
}

.about p {
  text-align: center;
  color: var(--y);
  font-size: 3vh;
}

.courses {
  margin-left: 10%;
  margin-right: 10%;
  height: 50vh;
}

.courses h1 {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  font-family: 'Contrail One', cursive;
  margin-bottom: 2%;
  margin-top: 3.2%;
  font-size: 7vh;
}

.courses h2 {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(35, 33, 32, 0.8);
  font-family: 'Contrail One', cursive;
  font-size: 5vh;
  margin-bottom: 0;
  margin-top: 2%;
}

.courses a {
  color: var(--g);
}

.courses p{
    color: var(--y);
    font-size: 2.1vh;
}

.course-cont {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  grid-column-gap: 5%;
}

.cont-inner {
  background-color: var(--sg);
  border-radius: 20px;
  padding: 20px;
}

.panel {
  height: 25vh;
  padding-bottom: 5vh;
  text-align: center;
  background-color: var(--bg);
  color: var(--y);
  font-family: 'Contrail One', cursive;
}
#admin-panel {
  display:grid;
  grid-template: 25vh / 1fr;
}

#pub-panel {
  display: grid;
  grid-template: 25vh / 37% 15% 15% 20% 10%
}

#pub-panel div h1 {
  text-align: left;
  padding-left: 2vw;
}

#pub-panel div:nth-child(2) {
  font-size: 4vh;
  padding-top: 8vh;
}
#pub-panel div:nth-child(3) {
  font-size: 4vh;
  padding-top: 8vh;
}
#pub-panel div:nth-child(4) {
  font-size: 4vh;
  padding-top: 8vh;
}

#pub-panel div:nth-child(5) {
  padding-top: 3vh;
}

.foot {
  height: 15vh;
  text-align: center;
  background-color: var(--bg);
  color: var(--y);
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr;
  padding-top: 7vh;
  font-family: 'Contrail One', cursive;
  font-size: 4vh;
}

.foot a {
  color: var(--y);
}

.panel a {
  color: var(--y);
}

.green a{
  color: var(--g);
}

.red a{
  color: var(--r);
}

.headpic {
  max-height: 95%;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
