/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --ainge: rgb(255, 153, 0);
  --namek: rgb(3, 205, 69);
  --purps: rgb(111, 20, 204);
}

html {
  margin: 0 0 0 0;
}

body {
  height: 15vh;
  /* background-color: blue; */
}

#admin-panel {
  display:grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

#inst-panel {
  display:grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr
}


#pub-panel {
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr 1fr
}

#pub-foot {
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr
}

#log-foot {
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr 1fr
}

.foot {
  text-align: center;
  margin-top: 10vh;
}

.panel {
  text-align: center;
}
