
<footer class='foot'>
  <div> Postboy Driving School </div>
  <div>
WST 3447911 K, West Capital City </div>
  <div>
    <i class="fa fa-whatsapp" aria-hidden="true"></i> 555 705 2018
</div>
  <div> <a href="https://youtu.be/v3f4IJDZJfw">Terms & Policies</a> </div>
  <% if current_user == nil %>
    <div><%= link_to 'Log In', login_path %></div>
    <% else %>
    <div><%= link_to 'Log Out', logout_path, method: :delete %></div>
    <% end %>
  </footer>
